.footer {
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 80px;
    align-items: center;

    .footer-upper {
        display: flex;
        gap: 20px;
        padding: 20px 10px;


        .footer-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1;

            span:hover{
                color: white;
                text-decoration: underline;
            }
        }

        .footer-header {
            color: white;
            text-decoration: none !important;
        }

        .social-media {
            flex: 2;
            align-items: end;

            div {
                float: right;
                display: flex;
                gap: 10px;

                span {
                    height: 35px;
                    width: 35px;
                    background-color: #ffffff12;
                    border-radius: 50%;
                    padding: 5px;
                    align-items: center;

                }
            }
        }
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        gap: 10px;

        .footer-header {
            color: white;
            text-decoration: none !important;
        }

        span:hover{
            color: white;
            text-decoration: underline;
        }

    }

    .footer-lower {
        padding: 20px 5px;
        display: flex;
        gap: 10px;
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 30px;

        span:hover{
            color: white;
            cursor: pointer;
        }

        .copyright {
            margin-left: 30%;
        }
    }
}